# GitHub App
GITHUB_APP_ID=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_WEBHOOK_SECRET=
GITHUB_API_TOKEN=
GITHUB_PRIVATE_KEY_PATH=
GITHUB_PRIVATE_KEY=

# OpenAI
OPENAI_API_KEY=
OPENAI_MODEL=
OPENAI_BASE_URL=
